In [1]:
from IPython.display import HTML, display
display(HTML(
    "<table style='width: 100%''>"
    
        "<colgroup>"
            "<col span='1' style='width: 15%;'>"
            "<col span='1' style='width: 70%;'>"
            "<col span='1' style='width: 15%;'>"
        "</colgroup>"
    
        "<tr>"
            "<td style='text-align:center'>"
                "<img src='UNAM.svg' width='75%' height='75%'>"
            "</td>"
            "<td style='text-align:center'>"
                "<h1>Universidad Nacional Autónoma de México</h1>"
                "<h2>Facultad de Ciencias</h2>"
                "<h2>Computación 8093</h2>"
            "</td>"
            "<td style='text-align:center'>"
                "<img src='FC.png' width='82.5%' height='82.5%'>"
            "</td>"
        "</tr>"
    
        "<tr>"
            "<td style='text-align:center'></td>"
            "<td style='text-align:center'>"
                "Dr. Sergio Antonio Alcalá Corona<br>"
                "Fis. Sergio Ángel Sánchez Chávez<br>"
            "</td>"
            "<td style='text-align:center'></td>"
        "</tr>"
    
        "<tr>"
            "<td style='text-align:center'></td>"
            "<td style='text-align:center'>"
                "Rodrigo Segura Moreno<br>"
            "</td>"
            "<td style='text-align:center'></td>"
        "</tr>"
    "</table>"
))

___
Este Jupyter Notebook fue creado para generar parejas aleatoriamente a partir de una lista de elementos pares. Se procurará explicar paso por paso el código de este mismo.
___

In [2]:
# Exportamos las bibliotecas necesarias
import random
import pandas as pd

In [3]:
# Se lee el archivo de texto
with open('clase.txt') as archivo:
    alumnxs = archivo.readlines()

In [4]:
# Asigna cada linea como un elemento en la lista
alumnxs = [x.strip() for x in alumnxs]
alumnxs

['Persona 1',
 'Persona 2',
 'Persona 3',
 'Persona 4',
 'Persona 5',
 'Persona 6',
 'Persona 7',
 'Persona 8',
 'Persona 9',
 'Persona 10',
 'Persona 11',
 'Persona 12',
 'Persona 13',
 'Persona 14',
 'Persona 15',
 'Persona 16',
 'Persona 17',
 'Persona 18',
 'Persona 19',
 'Persona 20',
 'Persona 21',
 'Persona 22',
 'Persona 23',
 'Persona 24',
 'Persona 25',
 'Persona 26',
 'Persona 27',
 'Persona 28',
 'Persona 29',
 'Persona 30']

De forma general, buscamos asignar a cada elemento de la lista con otro diferente de sí mismo. Además, un elemento solamente puede aparecer una sola vez.

Coloquialmente, "Todos los caminos llevan a Roma" (a menos que estén mal programados). Nosotros optaremos por el siguiente procedimiento para programar la solución a este problema:
<ol>
    <li>Tomar un elemento $ x_1 $ de la lista de manera aleatoria y almacenarlo en algún lugar.</li>
    <li>Remover $ x_1 $ de la lista.</li>
    <li>Tomar un elemento $ x_2 $ de la lista de manera aleatoria y relacionarlo con $ x_1 $ de alguna manera.</li>
    <li>Remover $ x_2 $ de la lista.</li>
    <li>Repetir pasos 1 a 4 hasta que la lista quede vacía.</li>
</ol>

In [5]:
# (1.1) Eligimos un elemento de forma aleatoria
a = random.choice(alumnxs)

In [6]:
# (*) Obtenemos el índice de dicho elemento en la lista
ind = alumnxs.index(a)

In [7]:
print('El elemento aleatorio seleccionado fue "' + a + '" con índice ' + str(ind) + ' en la lista' )

El elemento aleatorio seleccionado fue "Persona 7" con índice 6 en la lista

In [8]:
# (1.2) Almacenamos en algún otro lado el elemento aleatorio.
# Nosotros crearemos una lista a la cual le agregaremos dicho elemento.
lista_1 = []
lista_1.append(a)
lista_1

['Persona 7']

In [9]:
# (2) Removemos el elemento de la lista original
alumnxs.pop(ind)

'Persona 7'

In [10]:
# Vamos a revisar la lista original para ilustrar que sí fue removido
alumnxs

['Persona 1',
 'Persona 2',
 'Persona 3',
 'Persona 4',
 'Persona 5',
 'Persona 6',
 'Persona 8',
 'Persona 9',
 'Persona 10',
 'Persona 11',
 'Persona 12',
 'Persona 13',
 'Persona 14',
 'Persona 15',
 'Persona 16',
 'Persona 17',
 'Persona 18',
 'Persona 19',
 'Persona 20',
 'Persona 21',
 'Persona 22',
 'Persona 23',
 'Persona 24',
 'Persona 25',
 'Persona 26',
 'Persona 27',
 'Persona 28',
 'Persona 29',
 'Persona 30']

Realizaremos un proceso análogo para el elemento de la lista que será la pareja del primero. Solamente que, a este segundo elemento lo agregaremos a una lista diferente la cual llamaremos " lista_2 ".

In [11]:
# (3.1) Eligimos un elemento de forma aleatoria
a = random.choice(alumnxs)

# (*) Obtenemos el índice de dicho elemento en la lista
ind = alumnxs.index(a)

# (3.2) Almacenamos otra lista el segundo elemento.
lista_2 = []
lista_2.append(a)
lista_2

# (4) Removemos el elemento de la lista original
alumnxs.pop(ind);

Ahora bien, lo que se hará es repetir este proceso. El siguiente elemento será agregado a " lista_1 " el siguiente a " lista_2 " y así sucesivamente... Al ser una iteración que se realizará hasta que la lista original quede vacía podemos hacer un ciclo <em>while</em> el cual se dentrá una vez que la lista original este vacía.

Volveremos a cargar el archivo para que esté limpio. Así como, limpiar las listas que habíamos creado anteriormente.

In [12]:
with open('clase.txt') as archivo:
    alumnxs = archivo.readlines()
alumnxs = [x.strip() for x in alumnxs]
lista_1 = []
lista_2 = []

In [13]:
while len(alumnxs) > 0:
    # Primera persona
    a = random.choice(alumnxs)
    ind = alumnxs.index(a)
    lista_1.append(a)
    alumnxs.pop(ind)
    # Segunda persona
    a = random.choice(alumnxs)
    ind = alumnxs.index(a)
    lista_2.append(a)
    alumnxs.pop(ind)

In [14]:
# Empatamos ambas listas en un DataFrame de pandas para conocer las parejas
parejas = pd.DataFrame({'#1': lista_1, '#2': lista_2})
parejas

            #1          #2
0    Persona 6  Persona 10
1   Persona 16   Persona 9
2    Persona 8  Persona 26
3    Persona 4  Persona 28
4    Persona 1   Persona 3
5   Persona 15  Persona 20
6   Persona 29  Persona 25
7   Persona 23  Persona 22
8   Persona 17  Persona 11
9   Persona 24  Persona 12
10  Persona 14  Persona 18
11   Persona 7   Persona 2
12  Persona 30  Persona 21
13  Persona 19  Persona 13
14   Persona 5  Persona 27